@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sen&display=swap');


$logoColor:#E3A22D;
$navbarFontColor: #67645E;
$footerBgColor:#250400;

$xxl:1400px;
$xl: 1200px;
$lg: 992px;
$l: 890px;
$md: 768px;
$sm: 576px;
$s:500px;
$xs: 360px;

$fontManrope:'Manrope', sans-serif;
$fontRoboto:'Roboto', sans-serif;
$fontAvenir:'Sen', sans-serif;
